/* Variables générales permettant l'implémentation du dark mode */
:root {
  --background-color: black;
  --text-color: white;
  --button-background-color: white;
  --button-text-color: black;
}
/* Couleur de fond de la page */
body {
  background-color: gray;
}

/*  Marge et padding pour le container */
.container {
  margin: 2em auto;
  padding: 1.5em;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 1em;
}

/* Couleur du titre h1 */
h1 {
  color: red;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 0.5em 1em;
  border-radius: 0.5em;
}